<script type="text/javascript">

$(function() {
  // Add "active" to nav bar
  $('#nav_contact').addClass('active');

});
</script>
<h1>About#contactus</h1>
<p>Find me in app/views/about/contactus.html.erb</p>
