<script type="text/javascript">

$(function() {
  // Add "active" to nav bar
  $('#nav_faq').addClass('active');

});
</script>


<div class="col-md-10">
	<h1 style="text-align: center;">Frequently Asked Questions</h1>
	
		<h3>Has there been an improvement in the student's behavior, attitude, grades, or school attendance? If yes, what caused the positive turnaround?</h3>
		<blockquote>The feedback we have received from school officials and teachers has been extremely positive. Moreover, the quantitative statistics gathered from report cards and disciplinary records show that over 50% of the students who participated in Earn and Learn have improved their grades and behavior. This far exceeds the 10% rate that would be predicted by knowledgeable professionals.</blockquote>
	
	<h3>In the student's own words:</h3>
	<blockquote>
		<li>"The program has been helpful to me because it gives me motivation to focus on and to do my school work. It has also given me the chance to sit and talk with someone twice a month. Earn and Learn mostly gives me the motivation because of the money. The weekly progress report also keeps me on track so I can get my check twice a month. Earn and Learn has taught me responsibility because I have to get a progress report and attend the meetings in order to get my check." M. Ryan</li>
		<li>"The program has been very helpful. With the use of progress reports, I have been able to see what I'm doing wrong and what it is that I need to improve on. The use of money allowed for motivation. Every week, I wanted my check and every week I worked my best to make sure I got it." B. Jean</li>
	</blockquote>
	<h3>Have parents of students in the program reported positive changes in their child's behavior at home or increased focus at school? If yes, why?</h3>
	<blockquote>We often hear from the students' parents how motivated their children are to receive their checks, and in some cases, avoid the embarrassment of being fired.</blockquote>
	<h3>In the parents' own words:</h3>
	<blockquote>
		<li>"The Earn and Learn program was a very good incentive for my son. He was failing all his classes and since he joined the program he began passing all his major subjects and has developed a lot more self-esteem." Nick W's Mom</li>
		<li>"What I like about the program is that it encourages responsibility and that can help these children all through their lives, not just for the moment. Also, it teaches them a sense of money management and how to keep a job." Steven W's Mom</li>
		<li>"I would like to thank you for giving my son the opportunity to be involved in this program. It gave him a huge incentive to improve his grades and attitude. He feels better about himself. Thank you for your generosity." Brian L's Mo</li>
	</blockquote>
	<h3>Have there been suspensions, dismissals, or dropouts? If yes, did any of those students re-enroll and why?</h3>
	<blockquote>
		<ol>
			<li>Fred G. missed a meeting and was fired. He strenuously objected and claimed he didn't know the time for the meeting. I pointed out that the other students had attended so he should have known, too. When he continued to protest, he was told that in three months he could re-apply (but he would be required to re-interview). Three months later, he was "re-hired" and has been a good student with no behavioral problems for the last four years.</li>
			<li>Bill F. was terminated for failing to meet academic requirements. During an exit interview, we asked him how Earn and Learn could have done better and would he recommend any changes. He said there was nothing wrong with the program, "I just didn't do my job." Bill understood that he needed to take responsibility for his actions and learned a valuable lesson by not blaming his teachers, parents, or the program.</li>
		</ol>
	</blockquote>
	<h3>By offering an incentive program to students who are doing poorly in school, are you rewarding them and reinforcing poor behavior and substandard academic effort?</h3>
	<blockquote>It is noble and idealistic to say that young people should learn for learning's sake or that learning now could result in a better paying job later in life. The first concept is too philosophical and the second is too far in the future to motivate most adolescents. The students selected by the school for Earn and Learn are the ones that have failed to respond to the traditional methods utilized by the school to educate and encourage them.</blockquote>
	<h3>How much can a student earn in one year?</h3>
	<blockquote>The base amount could be about $1,000. Some students may be eligible for additional bonuses.</blockquote>
	<h3>Is money the only motivating factor for the students?</h3>
	<blockquote>In fact, the bi-weekly meetings are the linchpin of the program. As one student said, "I think that Mr. Rosmarin's Earn and Learn program has definitely helped to point me in the right direction by helping me to maintain my grades and allowing me to discuss my classes in weekly meetings. His program has also helped to encourage me to stay on the right path and keep my head in the books. The actual amount of money involved is trivial because I've gotten so used to the program that it has become something like a ritual or routine."</blockquote>
	<h3>You are a successful businessman who many would say is "giving back." Why do you want to call the program an investment?</h3>
	<blockquote>The dropout rate in the country is alarming: one high school student every 26 seconds or more than a million per year. The dropout cost to society (welfare, crime, health costs, etc) is estimated to be nearly $197 billion. Studies have shown that successful dropout prevention programs like Earn and Learn can return a dividend of more than $7 for each $1 invested or nearly 700% return.</blockquote>
	<h3>How are the students selected?</h3>
	<blockquote>The school selects those students who have academic or behavioral problems and have failed to respond to the school's efforts to motivate them. Students fill out a job application and then are interviewed.</blockquote>
	<h3>How can I start my own program?</h3>
	<blockquote>Click on STEAL THIS IDEA!</blockquote>
	
</div>
