<script type="text/javascript">

$(function() {
  // Add "active" to nav bar
  $('#nav_news').addClass('active');

});
</script>
<div class="col-md-10">
<h1>About#news</h1>
<p>Find me in app/views/about/news.html.erb</p>
</div>
