<script type="text/javascript">

$(function() {
  // Add "active" to nav bar
  $('#nav_prog').addClass('active');

});
</script>
<div class="col-md-10">
	<div class="row">
		<div class="col-md-8">
			<h1>Earn And Learn</h1>
			<em style="color: blue;"><p>Investing in Education...</p>
			<p>Investing in Young People...</p>
			<p>Investing in Our Future... </p>  </em>
		</div>
		<div class="col-md-4">
			<%= image_tag "logo.gif" %>
		</div>
	</div>
	<div class="row">
	<p style="color: blue;">A program designed to give at risk students an extra incentive to shine!</p>
	</div>
	
	<div class="row">
		<h1 style="text-align: center;">About the Program</h1>
		<div class="col-md-3">
			<%= image_tag "image1.jpg" %>
		</div>
		<div class="col-md-9">
			<p>In the spring of 2003, Jefry Rosmarin began the Earn and Learn Program <sup>1</sup> in collaboration with the Farmingdale, New York school district. Earn and Learn was created as a response to some alarming statistics:</p>
			<ol>
				<li>One student drops out of high school every 26 seconds or more than a million times a year <sup>2</sup></li>
				<li>The dropout cost to society (welfare, crime, health costs, etc.) is estimated to be nearly $192 billion per year<sup>3</sup></li>
				<li>Studies have shown that successful dropout prevention programs like Earn and Learn can return a dividend of more than $7 for each $1 invested or nearly a 700% return<sup>4</sup></li>
			</ol>
		</div>
	</div>
	<div class="row" style="padding-top: 20px;">
		<p>The goal of the program is to offer a work/incentive/mentoring program to help students improve their grades, school participation, self esteem and to build academic as well as life skills. Each student is "hired" as an "employee" and commits to specific requirements in schoolwork, behavior, attendance, and bi-weekly meetings with Mr. Rosmarin, their "employer," or another mentor. Failure to meet standards could lead to suspension without pay or termination.</p>
		<p>Students in the program learn that they must take responsibility for their actions and that there are consequences if they do not meet the Earn and Learn requirements. They quickly understand that "if you do your job, you will get paid, if you don't, I will get someone else who will." It is a simple lesson that most adults already understand, and it helps prepare the students for a real job.</p>
	</div>
	<div class="row">
		
		<div class="col-md-9">
			<p>Students receive $5.00 per day (or $50 in a two week period). Pay is received for each reporting period in which the participant successfully receives a grade of "C" or better in each class, attends the scheduled Earn and Learn meeting, and receives a positive progress report from their teachers.</p>
			<p>Since parental support is key to the student's success in the program, students and parents sign an agreement confirming their understanding of the program's rules and regulations.</p>
		</div>
		<div class="col-md-3">
			<%= image_tag "image2.jpg" %>
		</div>
	</div>
	<div class="row">
		<p>Thanks to the commitment and dedication of new mentor/volunteers, Earn and Learn has expanded to include seven schools and over thirty students.  (The time commitment for mentors in Earn and Learn is only one hour every two weeks).  We are currently running programs in four schools on Long Island (three high schools and one middle school) and three middle schools in Connecticut. To date, the program has proven to be remarkably effective in motivating the students to change their behavior, improve academically and receive their checks.</p>
		<p>Earn and Learn has consistently defied the odds for its at-risk students with a success rate far in excess of the 10% that is predicted by knowledgeable professionals.</p>
		<p>Through Earn and Learn, students take pride in being a part of the same team - a part of the same "company" - and derive satisfaction from earning money for a job well done.</p>
	</div>
	<div class="row">
		<h3><u>FOOTNOTES</u></h3><Blockquote>
		<p><sup>1</sup>Any discussion about the Earn and Learn Program would be incomplete without a tip of the hat and a debt of gratitude to Roger Rieger, a fellow "I Have a Dream" sponsor from Seattle. Roger developed an extrinsic reward program called "The R Team" that formed the basic framework for Earn and Learn.</p>
		<p><sup>2</sup>Herbert, New York Times 4/22/08</p>
		<p><sup>3</sup>Gates Foundation Report 2006</p>
		<p><sup>4</sup>Levin and Holmes, New York Times 1/6/05</p>
		</Blockquote>
	</div>
</div>
