<script type="text/javascript">

$(function() {
  // Add "active" to nav bar
  $('#nav_test').addClass('active');

});
</script>
<div class="col-md-10">
	<h1 style="text-align: center;">Testimonials</h1>
	<h2>In the students' own words:</h2>
	<blockquote>
		<ul>
			<li>"The program has been helpful to me because it gives me motivation to focus on and to do my school work. It has also given me the chance to sit and talk with someone twice a month. Earn and Learn mostly gives me the motivation because of the money. The weekly progress report also keeps me on track so I can get my check twice a month. Earn and Learn has taught me responsibility because I have to get a progress report and attend the meetings in order to get my check." M. Ryan</li>
			<li>"The program has been very helpful. With the use of progress reports, I have been able to see what I'm doing wrong and what it is that I need to improve on. The use of money allowed for motivation. Every week, I wanted my check and every week I worked my best to make sure I got it." B. Jean</li>
		</ul>
	</blockquote>
	<h2>In the parents' own words:</h2>
	<blockquote>
		<ul>
			<li>"The Earn and Learn program was a very good incentive for my son. He was failing all his classes and since he joined the program he began passing all his major subjects and has developed a lot more self-esteem." Nick W's Mom</li>
			<li>"What I like about the program is that it encourages responsibility and that can help these children all through their lives, not just for the moment. Also, it teaches them a sense of money management and how to keep a job." Steven W's Mom</li>
			<li>"I would like to thank you for giving my son the opportunity to be involved in this program. It gave him a huge incentive to improve his grades and attitude. He feels better about himself. Thank you for your generosity." Brian L's Mom</li>
			<li>"Words can not express how grateful we are for the opportunity you gave Matthew. Your belief in him inspired him to mature into the young man he is today. Just maybe when he finishes school he'll have all the right tools to mentor some other children like you did him. We will continue to encourage Matthew to follow his dreams and to achieve all his goals. Thank you once again" Nanci and Kevin R.</li>
		</ul>
	</blockquote>
	<h2>School Administrative Director:</h2>
	<blockquote>
		<ul>
			<li>"The spirit is not only in financial support, which is lovely, but the spirit of this program is in partnership with a school and a business person." Ellen Krammer</li>
		</ul>
	</blockquote>
	<h2>Local Businessman:</h2>
	<blockquote>
		<ul>
			<li>"Very, very impressive! I am glad that someone found a way to be charitable without going through an organization that used 75% to 90% of a donation for overhead." Vincent Polimeni</li>
		</ul>
	</blockquote>
	<h3>More Testimonials</h3>
		<ul>
			<li>College essay written by Earn and Learn student</li>
			<li>Program evaluation from school psychologist</li>
			<li>Letter from School Administrative Director</li>
		</ul>

</div>