<script type="text/javascript">

$(function() {
  // Add "active" to nav bar
  $('#nav_steal').addClass('active');

});
</script>
<h1>Steal#index</h1>
<p>Find me in app/views/steal/index.html.erb</p>
